body{
	background-image:url('G:/Moti caters/images/back/black_light_dark_figures_73356_1680x1050.jpg');
}
*{
	margin:0px;
	padding:0px;
}

h1{
	font: italic 50px Algerian;
}
h2{
	padding-top:10px;
	padding-bottom:20px;
	font:bold 40px AR BLANCA;
	color:white;
}
h3{
	text-align:right;
	padding-bottom:-5px;
	padding-top:-8px;
}
h6{
	font:italic 10px tahoma;
	text-align:right;
	
}
	
article{
	padding-right: 100px;
}

header, section, footer, aside, nav, article, hgroup{
	display:block;
	
}
#frontpara{
	font:italic 20px Times New Roman;
	color:white;
	padding-left:15px;
}
ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
	li a.active {
    color: white;
    background-color: #4CAF50;
}
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }

#big{
	
width:1200px;
margin:20px auto;
	
	
}

#top{background: #f74b87;
	 border:5px solid black;
	 padding:20px;
		color:white;
		
		
		font:bold 20px;
		}

#main_section{
	float:left;
	width:880px;
	margin:20px;
	
}
#extra{
	display:block;
	color:#ffffff;
	text-align:center;
	float:right;
	width:210px;
	margin:100px 0px;
	background:red;
	height:75px;
	opacity:0.6;
	-webkit-border-radius:10px;
	-webkit-transition: -webkit-transform 2s, opacity 2s,
	background 2s, width 2s, height 2s;
}
#extra:hover{
	-webkit-transform:rotate(360deg);
	opacity:1;
	background:#1ec7e6;
	width:210px;
	height:500px;
}

#neh2{
	text-align:center;
	color:red;
}

#social{
	
	margin:10px;
	padding-left:250px;
}
#bottom_footer{
	clear:both;
	text-align:center;
	padding:15px;
	border-top:2px solid green;
	color:white;
}
